#!/bin/sh
{{ ansible_managed | comment }}
#
#	/etc/init.d/artifactory
#
#	artifactory
#       Start script for Artifactory
#
# chkconfig: 2345 20 80
# description: artifactory

# Source function library.
if [ -f /etc/init.d/functions ] ; then
  . /etc/init.d/functions
fi

start() {
  echo -n "Starting artifactory:"
  returncode=$({{ artifactory_home }}/bin/artifactoryctl start)
  touch /var/lock/subsys/artifactory
  return ${returncode}
}

stop() {
  echo -n "Shutting down artifactory:"
  returncode=$({{ artifactory_home }}/bin/artifactoryctl stop)
  rm -f /var/lock/subsys/artifactory
  return ${returncode}
}

case "$1" in
  start)
    start
  ;;
  stop)
    stop
  ;;
  status)
    echo "not supported."
  ;;
  restart)
    stop
    start
  ;;
  reload)
    echo "not supported."
  ;;
    *)
  echo "Usage: <servicename> {start|stop|status|restart|reload}"
  exit 1
  ;;
esac

exit $?
