{{ ansible_managed | comment }}
[Unit]
Description=artifactory
After=network.target

[Service]
Type=forking

#Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ artifactory_home }}/bin/artifactoryctl start
ExecStop={{ artifactory_home }}/bin/artifacotryctl stop

#User={{ artifactory_user }}
#Group={{ artifactory_group }}

[Install]
WantedBy=multi-user.target
